.title {
  text-align: center;
  /* font-family: 'Neucha', cursive; */
}
.name {
  width: 90%;
  margin: 1.5% 5% 2.5% 5%;
}

.note {
  height: 100px;
  width: 90%;
  margin: 1.5% 5% 5% 5%;
  position: 
}

label {
  margin-left: 10px;
}
