.title {
  text-align: center;
  background-color: #64699e7e;
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}
.name {
  width: 90%;
  margin: 1.5% 5% 2.5% 5%;
}

.note {
  height: 100px;
  width: 90%;
  margin: 1.5% 5% 5% 5%;
}

.quantity {
  width: 60%;
  margin: 1.5% 5% 2.5% 5%;
}

.cost {
  width: 40%;
  margin: 1.5% 5% 2.5% 5%;
}

.link {
  width: 90%;
  margin: 1.5% 5% 2.5% 5%;
}

label {
  margin-left: 10px;
  font-weight: bold;
}

.card-content {
  margin-left: 10px;
  margin-right: 10px;
}

body {
  background-color: rgb(205, 213, 248);
}

.card {
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
}

.container-card {
  margin-top: 100px;
}

.uploadPhoto {
  width: 90%;
  margin: 1.5% 5% 2.5% 5%;
  background-color: white
}

img {
  max-width: 100%
}

#dropdown-basic-button {
  background-color: gray;
  border-color: gray;
}

.login {
  width: 90%;
  margin: 1.5% 5% 2.5% 5%;
}

#register {
  background-color: #64699e;
  color: white;
  font-family: 'Saira Stencil One', cursive;

}

li {
  font-family: 'Open Sans', sans-serif;
}

.detail {
  font-family: 'Open Sans', sans-serif;
  font-size: 35px;
}

.card-projectname {
  font-family: 'Open Sans', sans-serif;
}

.date {
  width: 70%;
  margin: 1.5% 5% 2.5% 5%;
}