.title {
  text-align: center;
  /* font-family: 'Neucha', cursive; */
}
.name {
  width: 90%;
  margin: 1.5% 5% 2.5% 5%;
}

.note {
  height: 100px;
  width: 90%;
  margin: 1.5% 5% 5% 5%;
}

label {
  margin-left: 10px;
}

.card {
  border: 0;
}

.card-content {
  margin-left: 10px;
  margin-right: 10px;
}

body {
  background-color: rgb(205, 213, 248);
}

.card {
  background-color: transparent;
}

.container-card {
  margin-top: 100px;
}