small {
    font-size: 75%;
  }
  
  header {
    background-color: #64699e;
    border: 0px;
  }
  
  .site-title {
    color: rgb(8, 8, 8);
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container a {
    color: black;
  }
  
  nav .container a:hover {
    color: maroon;
  }