small {
    font-size: 75%;
  }
  
  .navBar {
    background-color: #64699e;
    border: 0px;
  }

  .optionBar {

  }
  
  .site-title {
    color: rgb(8, 8, 8);
    text-align: center;
  }
  
  nav .container {
    display: flex;
    padding: 0;
    margin-bottom: 0;
  }
  
  nav .container a {
    color: white;
  }
  
  nav .container a:hover {
    color: white;
  }

  .proplan {
    font-family: 'Saira Stencil One', cursive;
    font-size: 30px;
    padding: 0;
    color: white;
  }